<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">

{% block head %}

{% endblock %}
</head>
<body>
<h1 class="restaurant-title">Welcome To Django Restaurant!</h1>
{% if request.user.is_authenticated %}
<div class="greeting">
<span>Hello, {{request.user.username}}!</span>
<br>
<a href="{% url 'logout' %}">Log Out</a>
</div>
<br>
{% endif %}
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li class="message">
            {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% block content %}

{% endblock %}

</body>
</html>