body {
    background-color: lightgrey;
    font-family: sans-serif;
    max-width: 550px;
}

a {
    color: black;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}

a:hover {
    color: blue;
}

.menuitem {
    border-style: ridge;
    border-width: 2px;
    display: inline-block;
    box-sizing: border-box;
    border-color: black;
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
    width: 180px;
    text-align: center;
    
}

.itembox {
    line-height: 28px;
    width: 550px;
}

.menu-items-title {
    font-size: 32px;
    text-align: center;
}

.restaurant-title {
    text-align: center;
}

.greeting {
    text-align: right;
    display: block;
}

.main-pos-box,
.main-inventory-box {
    border: 1px solid grey;
    box-sizing: border-box;
    padding-bottom: 5px;
    width: 550px;
}

.ingredient-box,
.menu-item-box {
    box-sizing: border-box;
    width: 549px;
    border: 1px solid grey;
    border-right: hidden;
}


.home-option-box {
    border: 1px solid grey;
    padding: 50px 0;
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.home-option-box span {
    padding-right: 0 auto;
}

.home-bottom-box {
    padding: 10px 5px;
    border: 1px solid grey;
    display: block;
    box-sizing: border-box;
    width: 543px;
}

.add-plus {
    font-size: 20px;
    text-align: right;
    border: 1px solid grey;
    position: relative;
    left: 525px;
    bottom: 5px;
    box-sizing: border-box;
}